<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <section name="samples" type="Nuclei.Configuration.ConfigurationSectionToXmlTranslator, Nuclei.Configuration" />
    </configSections>
    <samples>
        <AssemblyCacheLocation>
            <string>c:\ProgramData\MyCoolApp\Plugins\Cache</string>
        </AssemblyCacheLocation>
        <PluginSearchDirectories>
            <ArrayOfString>
                <string>d:\temp</string>
            </ArrayOfString>
        </PluginSearchDirectories>
    </samples>
</configuration>