<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <section name="samples" type="Nuclei.Configuration.ConfigurationSectionToXmlTranslator, Nuclei.Configuration" />
    </configSections>
    <samples>
        <Key1>
            <int>10</int>
        </Key1>
        <Key2>
            <ArrayOfString>
                <string>more text</string>
                <string>and even more text</string>
            </ArrayOfString>
        </Key2>
        <Key3>
            <double>1.23456</double>
        </Key3>
    </samples>
</configuration>